{#this line below enables us using the layout from layout.html - we re just overriding the body section#}
{% extends "layout.html" %}
{% block content %}
    <style>
      .bottom-three {
         margin-bottom: 1cm;
      }
    </style>

    <h1 class="bottom-three">Strona główna</h1>


{#        {%  for post in posts %}#}
{#            <article class="media content-section">#}
{#              <div class="media-body">#}
{#                <div class="article-metadata">#}
{#                  <a class="mr-2" href="#">{{ post.author }}</a>#}
{#                  <small class="text-muted">{{ post.date_posted }}</small>#}
{#                </div>#}
{#                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>#}
{#                <p class="article-content">{{ post.content }}</p>#}
{#              </div>#}
{#            </article>#}
{#        {% endfor %}#}

    <form method="POST" enctype="multipart/form-data">
        {{ ufform.hidden_tag() }}
        {{ ufform.file() }}
        {{ ufform.submit() }}
    </form>


    <h2>Wybór filtra</h2>
    {% if filename != None %}
        <span class="chosen_file_info"> Wybierz filtr dla pliku <b>{{ filename }}</b></span>
    {% endif %}

    <h4>Echo</h4>
        <form method="POST" enctype="multipart/form-data">
            {{ echoform.hidden_tag() }}
            {{ echoform.delay(placeholder='Opóźnienie [s]') }} {{ echoform.decay(placeholder='Wyciszenie (0-1)') }}
            {{ echoform.submit() }}
        </form>

    <h4>Wzmocnienie</h4>
        <form method="POST" enctype="multipart/form-data">
            {{ ampform.hidden_tag() }}
            {{ ampform.amp(placeholder='Wzmocnienie [%]') }}
            {{ ampform.submit() }}
        </form>

        <h4>Filtr dolnoprzepustowy</h4>
        <form method="POST" enctype="multipart/form-data">
            {{ lpform.hidden_tag() }}
            {{ lpform.cut_off_l(placeholder='Częstotliwość [Hz]') }}
            {{ lpform.submit() }}
        </form>

    <h4>Filtr górnoprzepustowy</h4>
        <form method="POST" enctype="multipart/form-data">
            {{ hpform.hidden_tag() }}
            {{ hpform.cut_off_h(placeholder='Częstotliwość [Hz]') }}
            {{ hpform.submit() }}
        </form>

    <h4>Powtórz dźwięk</h4>
        <form method="POST" enctype="multipart/form-data">
            {{ repform.hidden_tag() }}
            {{ repform.n_times(placeholder='Liczba powtórzeń') }}
            {{ repform.submit() }}
        </form>

    <h4>Odwrócenie</h4>
        <form method="POST" enctype="multipart/form-data">
            {{ revform.hidden_tag() }}
            {{ revform.submit() }}
        </form>
    <br>
    <br>
    <br>
{% endblock content %}

{% block audio %}
        {% if filename != None %}
            <h4>Odtwórz dźwięk</h4>
            <audio controls class="audio_player">
                <source src="{{ url_for('static', filename='/files/'+ filename) }}" type="audio/mpeg">
                <source src="{{ url_for('static', filename='/files/'+ filename) }}" type="audio/wav">
                Your browser does not support the audio element.
            </audio>
        {{ sound_src }}
    {% endif %}
{% endblock %}